 h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 30px;
  }
  p {
    color: skyblue;
  }
  #map {
    padding-top: 60px;
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
   }
  body {
    margin: 0%;
    width: 100%;
    
  }
  html{ 
    background-color:rgb(0, 89, 255);
    overflow: hidden;
  }
  .pins{
    z-index:-1;
    height: autp;
    width: 50px ;
    background-size: 100% 100%;
  }
  .topnav {
    background-color:rgb(0, 89, 255);
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
  }
  .topb {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f2f2f2;
    color: rgb(0, 89, 255);
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #00318d;
    color: white;
  }
  