
  h1 {
    font-family: sans-serif;
    color: blue;
  }
  p {
    color: skyblue;
  }
  #map {
    height: 100%;
    width: 100%;
   }
  body {
    margin: 0%;
    width: 100%;
    background-image: url('map.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }