
  h1 {
    font-family: sans-serif;
    color: blue;
  }
  p {
    color: skyblue;
  }
  #map {
    height: 100%;
    width: 100%;
   }
  body {
    margin: 0%;
    width: 100%;
    
  }
  html{ 
    background-color:rgb(0, 96, 221);
    overflow: hidden;
  }
  
  
  .div1{
    position:absolute; 
    height:500px; 
    width: 500px; 
    z-index:1;
  }